.box-description.padding-right-left.padding-top-bottom
	%h2.title-section
		INVIERTE CON
		%br/
		%span NOSOTROS
	%p
		Buscamos maximizar el valor del capital a largo plazo a través de la inversión en estos sectores. Estamos
		atentos constantemente a nuevas oportunidades de inversión y sobre todo a asociarnos con inversores de ideas
		afines.
	%button.btn-green.one
		.insider
		INVERTIR AHORA
.box-img